body {
  background-color: hsl(0, 0%, 94%);
  height: 90vh;
  display: grid;
  justify-items: center;
  font-family: "Poppins", sans-serif;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  font-weight: 800;
  font-style: italic;
  font-size: 5rem;
  margin: 0;
  line-height: 1;
}

hr {
  width: 40vw;
  margin-right: 0;
  margin-left: 20px;
  border-color: hsl(0, 0%, 86%);
  opacity: 30%;
}

img {
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  padding: 15px;
}

span {
  color: hsl(259, 100%, 65%);
}

.an {
  animation-name: example;
  animation-duration: 3s;
}

@keyframes example {
  from {
    color: hsl(258, 17%, 88%);
  }
  to {
    color: hsl(259, 75%, 41%);
  }
  to {
    color: hsl(259, 100%, 65%);
  }
}

input {
  border: solid 1px hsl(0, 0%, 86%);
  max-width: 5rem;
  min-width: none;
  border-radius: 10%;
  padding: 15px;
  font-weight: 800;
  font-size: 20px;
}

#btn {
  padding: 0;
  border: none;
  background: none;
}

#btn:hover {
  opacity: 70%;
  cursor: pointer;
}

.container {
  background-color: hsl(0, 0%, 100%);
  width: 50vw;
  border-radius: 10px;
  border-bottom-right-radius: 35%;
  padding: 20px;
}

.box {
  margin: 20px;
}

.inline-block {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.small-text {
  font-weight: 700;
  color: hsl(0, 1%, 44%);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.flex-2 {
  margin-bottom: 20px 0px;
}

.err {
  color: hsl(0, 100%, 67%);
  font-size: small;
  width: inherit;
  margin: 5px;
}

@media screen and (max-width: 900px) {
  .container {
    width: 80vw;
    border-radius: 10px;
    border-bottom-right-radius: 35%;
    padding: 20px;
    position: relative;
  }

  input {
    max-width: 3rem;
    font-size: 15px;
  }

  img {
    max-width: 35%;
  }

  hr {
    width: 90%;
    position: absolute;
  }

  h1 {
    font-size: calc(15px + 8vw);
  }

  .box {
    margin: 0px;
    max-width: 33%;
  }

  .flex {
    justify-content: space-around;
    margin-bottom: 20px;
  }

  #btn {
    z-index: 1;
  }

  .inline-block {
    justify-content: center;
  }
}
